POSTGRES_DB=event_space_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

WEBSITE_URL=

STATIC_CONTENT_PATH=

GMAIL_APP_PASSWORD=
GMAIL_USERNAME=
MAIL_FROM=

PROMETHEUS_USERNAME=prometheus
PROMETHEUS_PASSWORD=

RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=
